.button {
  width:220px;
  height: 50px;
  border: none;
  border-radius: 50px;
  color: white;
  filter: drop-shadow(2px 0px 2px #aaa);
  background-image: radial-gradient(farthest-corner at 20% -40%, $secondary-colour 10%, $primary-colour 100%);
  box-shadow : #DDD 0px 4px 8px;
  &--order{
    margin:0px 25%;
  }
  &--explorer {
  margin:auto;
  }
  &:hover {
    cursor:pointer;
    box-shadow:inset lighten($primary-colour,20%) 0px 0px 8px;
    filter: drop-shadow(2px 6px 3px #AAA);
  }
  &:active {
    box-shadow: inset darken($primary-colour,3%) 0px 0px 10px;
  }
}


//========================= heart-slider

.box-heart{
  position:absolute;
  right: 2%;
  width: 30px;
  height: 30px;
  a.box-clickable {
    position: absolute;
    top: 0px;
    width: 30px;
    height: 30px;
    z-index: 1;
    &:hover + .mask-heart + .dropping-window-heart, &:active + .mask-heart + .dropping-window-heart{
      height: 0%;
      transition-property:height;
      transition-duration: 0.5s;
      transition-timing-function: ease;
    }
  }
  .mask-heart {
    width:100%;
    height:100%;
    -webkit-mask-image: url(/public/pictures/images/icons/heart-regular-test.svg);
    mask-image: url(/public/pictures/images/icons/heart-regular-test.svg);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-image:linear-gradient(180deg, $primary-colour, $secondary-colour );

  }
  .dropping-window-heart {
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color: $secondary-colour-gradient-location-background;
    background-image:url("/public/pictures/images/icons/heart-regular-test-white.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
