.card-container {

  a:nth-child(2) img {
   object-position: 50% 80%;
 }

  a:nth-child(3) img {
    object-position: 50% 60%;
  }

  a:nth-child(4) img {
    object-position: bottom;
  }

  a:nth-child(5) img {
    object-position: bottom;
  }
  .restaurant-card {
    position:relative;
    width: 337px;
    height: 253px;
    margin:9px 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow:#CCC 0px 0px 15px;
    &:hover{
      box-shadow:#AAA 2px 2px 20px;
    }
    a {
      display:flex;
      flex-flow:wrap row;
    }

    .restaurant-card__photo {
      position: relative;
      width:100%;

      img {
        width: 100%;
        height: 174px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
      }
    }
    .heading-card__heading{
      position:relative;
      display:flex;
      width:70%;
      height:80px;
      padding:18px 10px;
      flex-flow:column wrap;
      justify-content: space-between;
      .restaurant-card__title {
        width:100%;
        font-size: 18px;
        font-weight: 550;
        line-height:1em;
      }
    }

    .restaurant-card__place {
      width:100%;
      font-size: 16.5px;
      line-height:1em;
      font-weight: 350;
    }

    .new:after {
      content: "Nouveau";
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 6px 12px;
      border-radius: 3px;
      background-color: $background-new;
      color: $text-new;
      font-size: 15px;
    }
  }
}


// ANIME AND TOGGLE HEART
.etiquette {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 15px;
  bottom: 15px;

  .white-heart {
    cursor:pointer;
    position:absolute;
    width:35px;
    height:35px;
    top:1px;
    right:1px;
  }

  .purple-heart {
    cursor:pointer;
    transform:scale(0);
    position:absolute;
    width: 35px;
    height:35px;
    top:1px;
    right:1px;
  }

  &:hover > input + .purple-heart {
    transform: scale(1.01);
    z-index: 2;
    transition-property: transform;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 2, 1, 2);
  }

  input {
    width: 38px;
    height: 38px;
    //position:relative;
    right:0px;
    bottom:0px;
    z-index:2;
    opacity:0;


    &:checked + .purple-heart {
      transform: scale(1.01);
      transition-property: transform;
      transition-delay: 0s;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0, 2, 1, 2);
      z-index: 2;
    }


  }
}
