.loading-spinner {
  display:initial;
  position: absolute;
  inset: 0px 0px;
  background-image: url("../pictures/images/logo/ohmyfood.png");
  background-repeat: no-repeat;
  background-color: white;
  background-position: 50% 66vh;
  background-size: 350px;
  animation-name: active-loading-spinner;
  animation-duration: 5.5s;

  &::after {
    content: "loading";
    position: absolute;
    top: 83vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 27px;
  }

  .container-spinner {
    position:absolute;
    border:2px solid red;
    animation-name: spinner-1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform: rotate(0deg);

    .spinner{
      max-width:280px;
      max-height: 280px;
      position:absolute;
      top:30vh;
      left:70vw;
    }
    .outside {
      width: 66vw;
      height: 66vw;
      border-left: 15px solid $primary-colour;
      border-radius: 50%;

      animation-name: spinner-2;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }

    .middle {
      width: 50vw;
      height: 50vw;
      border-left: 15px solid $secondary-colour;
      border-radius: 50%;

      animation-name: spinner-3;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }

    .inner {
      width: 40vw;
      height: 40vw;
      border-left: 15px solid $tertiary-colour;
      border-radius: 50%;

      animation-name: spinner-4;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes spinner-1 {
  0% {transform:rotate(0%)
  }
  100% {transform:rotate(360deg)
  }
}

@keyframes spinner-2 {
  0% {transform:rotate(0%)
  }
  100% {transform:rotate(630deg)
  }
}

@keyframes spinner-3 {
  0% {transform:rotate(0%)
  }
  100% {transform:rotate(720deg)
  }
}

@keyframes spinner-4 {
  0% {transform:rotate(0%)
  }
  100% {transform:rotate(270deg)
  }
}

@keyframes active-loading-spinner {
  0% {display:initial}
  100% {display:none}
}