.layout-menu__container-menu {
  width:100vw;
  height:fit-content;
  display:flex;
  flex-flow:row wrap;
  align-content:space-between;
  @include opacity-effect;
  .container-menu__heading {
    width:100%;
    .name-restaurant {
      margin-bottom: 20px;
    }
  }
  .dish-category{
    position:relative;
    width:100%;
    margin-bottom:40px;

    .dish-category__heading {
      position:relative;
      text-transform: uppercase;
      width:fit-content;
      margin-bottom: 25px;
      &:after{
        position:absolute;
        content:"";
        width:40px;
        bottom:-0.4em;
        left:0px;
        border-bottom:3px solid $background-new;
      }
    }
    .card-dish{
      overflow: hidden;
      display:flex;
      flex-flow:row wrap;
      justify-content:space-between;
      height:fit-content;
      background-color:white;
      border-radius:15px;
      margin:15px 0px;
      box-shadow:#CFCFCF 2px 2px 6px;
      opacity:0;//invisible
     //////////////
      &:hover > div:nth-child(2) {
        position:relative;
        transform:translatex(-50px);
        transition-property: transform;
        transition-duration: 0.7s;
        transition-timing-function: cubic-bezier(0,1.04,.95,.96);
        &>div:nth-child(2) > div.animated-round {
          transform: rotate(-1080deg);///////
          transition-property: transform;
          transition-duration: 1s;
          transition-timing-function:cubic-bezier(.23,.47,.7,1.4);
        }
      }
      &__box-text {
        padding:10px 0px 10px 8px;
        display:flex;
        flex-flow:column wrap;

      }
        .box-text__name {
        }
        .box-text__description {
          max-width:50vw;
          white-space:nowrap;
          overflow:hidden;
          text-overflow:ellipsis ;
      }
      &__box-price {
        display:flex;
        flex-flow: row nowrap;

        .box-price__price {
          position:relative;
          left: 50px;
          width:fit-content;
          height:fit-content;
          padding-bottom:10px;
          margin-right: 20px;
          align-self:flex-end;
        }
        .box-price__validate {
          display:flex;
          flex-flow: row wrap;
          justify-content: center;
          align-content:center;
          position:relative;
          overflow:hidden;
          transform:translatex(50px);
          width:50px;
          height:100%;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          background-color: $background-new;
          .animated-round{
            display:flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content:center;
            width:25px;
            height:25px;
            background-color:white;
            border-radius:50%;
            text-align:center;
            img {
              width:18px;
              height:18px;
            }
          }
        }
      }

      }
    }
  }

//ANIMATION SPAWN ON MENU

@keyframes opacity-effect{
  0% {opacity:0}//invisible
  100% {opacity:1}//visible
}
