.layout-menu__container-menu {
  width:100vw;
  height:fit-content;
  @include opacity-effect;
  .container-menu__heading {
    width:100%;
    .name-restaurant {
      margin-bottom: 20px;
    }
  }
  .dish-category{
    max-width:377px;
    position:relative;
    width:100%;
    margin:0px 16px 40px;

    .dish-category__heading {
      position:relative;
      text-transform: uppercase;
      width:fit-content;
      margin-bottom: 25px;
      &:after{
        position:absolute;
        content:"";
        width:40px;
        bottom:-0.4em;
        left:0px;
        border-bottom:3px solid $background-new;
      }
    }
    .card-dish{
      cursor:pointer;
      max-width: 377px;
      overflow: hidden;
      display:flex;
      flex-flow:row nowrap;
      justify-content:space-between;
      height:74px;///
      background-color:white;
      border-radius:15px;
      margin:15px 0px;
      box-shadow:#CFCFCF 2px 2px 6px;
      opacity:0;

      animation-name: stretch;
      animation-delay: 1s;
      animation-duration: 1.5s;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;

///////HIDE THE TEXT OF THE CARD_DISH WHEN THERE ISN'T PLACE ENOUGH

      &:hover > .card-dish__box-text .box-text__name{
        width: calc(369px - 100px);
        transition-property: width;
        transition-duration: 0.7s;
        transition-timing-function: cubic-bezier(0,1.04,.95,.96);
      }
      &:not(:hover) > .card-dish__box-text__name {
        width: calc(369px - 50px);
        transition-property: width;
        transition-duration: 0.7s;
        transition-timing-function: cubic-bezier(0,1.04,.95,.96);
      }

      &:hover > .card-dish__box-text > .box-text__name + .box-text__description{
        width: calc(369px - 100px);
        transition-property: width;
        transition-duration: 0.7s;
        transition-timing-function: cubic-bezier(0,1.04,.95,.96);
      }
      &:not(:hover) > .card-dish__box-text > .box-text__name + .box-text__description {
        width: calc(369px - 50px);
        transition-property: width;
        transition-duration: 0.7s;
        transition-timing-function: cubic-bezier(0,1.04,.95,.96);
      }


//////




      &:hover > div:nth-child(2) {
        position:relative;
        //transform:translatex(-50px);
        transition-property: transform;
        transition-duration: 0.7s;
        transition-timing-function: cubic-bezier(0,1.04,.95,.96);
        &>div:nth-child(2) > div.animated-round {
          transform: rotate(-1080deg);///////
          transition-property: transform;
          transition-duration: 1s;
          transition-timing-function:cubic-bezier(.23,.47,.7,1.4);
        }
      }
      &:not(:hover ) > div:nth-child(2) {
        position:relative;
        transform:translatex(0px);
        transition-property: transform;
        transition-duration: 0.7s;
        transition-timing-function: ease-in;
        &>div:nth-child(2) > div.animated-round {
          transform: rotate(0deg);///////
          transition-property: transform;
          transition-duration: 1s;
          transition-timing-function:ease-in;
        }
      }
      &__box-text {
        padding: 10px 0px 10px 8px;
        display: flex;
        flex-flow: column wrap;
        width: calc(377px - 50px);
        position:relative;

        .box-text__name {
          width: calc(377px - 50px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .box-text__description {
          width: calc(377px - 50px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      &__box-price {
        display:flex;
        flex-flow: row nowrap;

        .box-price__price {
          position:relative;
          //left: 50px;
          width:fit-content;
          height:fit-content;
          padding-bottom:10px;
          margin-right: 20px;
          align-self:flex-end;
        }
        .box-price__validate {
          display:flex;
          flex-flow: row wrap;
          justify-content: center;
          align-content:center;
          position:relative;
          overflow:hidden;
          //transform:translatex(50px);
          width:50px;
          height:100%;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          background-color: $background-new;
          .animated-round{
            display:flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content:center;
            width:25px;
            height:25px;
            background-color:white;
            border-radius:50%;
            text-align:center;
            img {
              width:18px;
              height:18px;
            }
          }
        }
      }

      }
    }
  }

//ANIMATION MENU SPAWN

@keyframes opacity-effect{
  0% {opacity:0}//invisible
  100% {opacity:1}//visible
}


//ANIMATION STRETCH MENU

@keyframes stretch {
  0% {margin:110%}
  100% {height:100%}
}