@import "./1_base/typo";
@import "./1_base/reset";
@import "./2_utils/variables";
@import "./2_utils/functions";
@import "./2_utils/mixins";
@import "./3_layout/footer";
@import "./3_layout/header";
@import "./3_layout/nav";
@import "./4_components/button";
@import "./4_components/card-restaurant";
@import "./4_components/loading-spinner";
@import "./5_pages/home";

.white-heart {
  visibility:visible;
  position:absolute;
  width: 35px;
  height:35px;
  top:3px;
  right:3px;

}

.purple-heart {
  visibility:hidden;
  position:absolute;
  width: 40px;
  height:40px;
  top:0px;
  right:0px;
}

.etiquette {
 //border: 3px solid black;
  position:relative;
  width: 40px;
  height:40px;
  top:5px;
  right:40px;
  input {
    display:none;
    width: 0px;
    height: 0px;
    &:checked + .purple-heart{
      visibility:visible;
      z-index:2;
    }
  }

}




/*
.heart-color {
  width: 40px;
  position: relative;
  left: -55px;
  transform: scale(0);

  &:active {
    animation-name: popwhite;
    animation-duration: 1ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.coeur-blanc {
  width: 40px;
  position:relative;
  left:-55px;
  transform:scale(1);
  &:active + .heart-color{
    animation-name: popcolour;
    animation-duration: 1ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}



@keyframes popwhite {
  0% {transform:scale(0)}
  100% {transform: scale(1)}
}

@keyframes popcolour {
  0% {transform:scale(0)}
  100% {transform: scale(1)}
}
*/