// BOX SIZING RULES
*, *::before, *::after {
  box-sizing: border-box;
}
//REMOVE DEFAULT MARGIN
*, html, body,p, h1,h2,h3,h4,li, ul, ol, figure{
  margin : 0px;
  padding:0px;
}

//GIVE to body a height relative for loading-sp
body{
  position:relative;
}

// MAKE IMAGE EASIER TO WORK
img {
  max-width: 100%;
  display: block;
}
//LIST

li{
  list-style: none;
}

// SCROLL
html {
  scroll-behavior: smooth;
}
// LINKS
*:visited {
  color:#9356DC;
}

*:link {
  color:#FF79DA;
}

//RESET select
select, option {
  position:relative;
  background-color:transparent;
  border:none;
  appearance: none;
  text-align:center;
  cursor: pointer;
}

//RULES
html, body {
  width: 100vw;
}

*{
  max-width: 1600px;
}