@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}


a,a:visited {
  text-decoration:none;
  color:black;
}

h1{
  font-size:25px ;
  font-weight: 500;
}

h2{
  font-size:24px ;
  font-weight: 600;
}

h3{
  font-size:10px ;
  font-weight: normal;
}

h4{
  font-size:10px ;
  font-weight: normal;
}

nav {
  .box-localisation {
    font-size: 11px;
    font-weight: normal;
  }
  .description{
    font-size:18px ;
    font-weight: 300;
  }
  select {
    font-size:17px ;
    font-weight: 400;
  }
}

button {
  font-size:16px ;
  font-weight: 500;
}

footer {
  a, span {
    color: white;
    text-decoration: none;
    font-size: 17px;
    &:link {
      color: white;
    }

    &:visited {
      color: white;
    }
  }
}

// RESTAURANT pages

.name-restaurant {
  font-family: 'Shrikhand', cursive;
  font-size: 21px;
}
.card-dish{
  line-height:1.5em;
}
.box-text__description {
  font-size: 15px;
  font-weight: 300;
  color: #7E7E7E;
}