$primary-colour: #9356DC;
$secondary-colour:#FF79DA;
$tertiary-colour:#99E2D0;

//TEXT
$text-colour:#151515;
$text-new:#058A69;

//GRADIENT
$primary-colour-gradient-location-background:#CACACA;
$secondary-colour-gradient-location-background:#EAEAEA;

//BACKGROUND
$soft-grey:#F6F6F6;
$background-footer:#353535;
$soft-primary:#F5EDFF;
$background-new:#99E2D0;

//ICON PROCESS
$icon-process:#7E7E7E;

